# Info on these env's https://hub.docker.com/_/influxdb
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=username
DOCKER_INFLUXDB_INIT_PASSWORD=password
DOCKER_INFLUXDB_INIT_ORG=org
DOCKER_INFLUXDB_INIT_BUCKET=smart_meter_data
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=token

SMART_METER_DATA_JSON_PATH=StatusSNS.DWSB20
SMART_METER_READER_IP=192.168.0.225
DATA_FETCH_INTERVAL=10s
DATA_PUSH_INTERVAL=30s
INFLUXDB_ADDRESS=influxdb:8086